---
layout: default
---

<div class="home" style="margin: 0 auto;">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
	<h2 class="sph"> يا مرحبا </h2>
  {{ content }}

  <!-- {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}
  -->

</br>
<div style="font-size:25pt">
<!--{%- if site.email -%}<a class="u-email" href="mailto:{{ site.email }}"><img src="{{ '/images/mail3.png' | relative_url }}" width="20" height="20"> <span class="username"></span></a>{%- endif -%} -->
{%- if site.email -%}<a href="mailto:{{ site.email }}"><i class="fa fa-envelope" style="color:black"></i></a>{%- endif -%}
<!--{%- if site.github_username -%}<a href="https://github.com/{{ site.github_username| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg><span class="username"></span></a>{%- endif -%} -->
&nbsp;
{%- if site.github_username -%}<a href="https://github.com/{{ site.github_username| cgi_escape | escape }}"><i class="fa fa-github" style="color:black"></i></a>{%- endif -%}
&nbsp;
  {%- if site.instagram_username -%}<a href="https://instagram.com/{{ site.instagram_username| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#instagram' | relative_url }}"></use></svg><span class="username">{{ site.instagram_username| escape }}</span></a>{%- endif -%}
&nbsp;
  {%- if site.linkedin_username -%}<a href="https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}"><i class="fa fa-linkedin" style="color:black"></i></a>{%- endif -%}
&nbsp;
  {%- if site.pinterest_username -%}<a href="https://www.pinterest.com/{{ site.pinterest_username| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#pinterest' | relative_url }}"></use></svg><span class="username">{{ site.pinterest_username| escape }}</span></a>{%- endif -%}
  {%- for mst in site.mastodon -%}{%- if mst.username and mst.instance -%}<a href="https://{{ mst.instance| cgi_escape | escape}}/@{{mst.username}}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#mastodon' | relative_url }}"></use></svg> <span class="username">{{ mst.username|escape }}</span></a>{%- endif -%}{%- endfor -%}
  {%- if site.twitter_username -%}<a href="https://www.twitter.com/{{ site.twitter_username| cgi_escape | escape }}"><i class="fa fa-twitter" style="color:black"></i></a>{%- endif -%}
  </div>
</div>
